<link rel="import" href="polymer/polymer.html">

<polymer-element name="main-screen" attributes="menuTitle mainTitle">

  <template>
    <link rel="stylesheet" href="main-screen.css">
      <core-header-panel drawer>
        <core-toolbar>
          <span>{{menuTitle}}</span>
        </core-toolbar>
        <core-menu>
          <paper-item label="How is it used?" icon="info-outline"></paper-item>
          <paper-item label="How does it work?" icon="info-outline"></paper-item>
          <paper-item label="Who are the TCs?" icon="info-outline"></paper-item>
          <paper-item label="TCs" icon="account-circle"></paper-item>
          <paper-item label="Googler" icon="google"></paper-item>
        </core-menu>
      </core-header-panel>

      <span tool>
        <img  class="tcProgramLogo" src="../img/tclogo399x456.png"/>
        {{mainTitle}}
        <paper-shadow z="3"></paper-shadow>
      </span>

      <div fit class="content">
        <h1>Polymer Rocks!</h1>
      </div>

    </core-scaffold>
  </template>

  <script>

    Polymer("main-screen", {
      ready: function() {
        console.log("Main screen is ready!")
      }
    });

  </script>

</polymer-element>